# Git
.git
.gitignore

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache

# Virtual environment
venv
env
ENV

# IDE
.idea
.vscode

# Environment files
.env

# Tests
tests

# Docker files
Dockerfile_local

# Documentation
README.md