{
  "databases": {
    "mariadb": {
      "image": "mariadb:10.6.24-jammy",
      "port": 3306,
      "env": {
        "MARIADB_ALLOW_EMPTY_ROOT_PASSWORD": 1
      },
      "jar_client": "https://repo.maven.apache.org/maven2/org/mariadb/jdbc/mariadb-java-client/3.5.2/mariadb-java-client-3.5.2.jar",
      "user": "dummyUser",
      "password": "dummyPassword"
    }
  },
  "payara_images": {
    "icat_server <= 6.2.0|authn_db <= 3.0.0": {
      "image": "icat-testbox-payara6:latest",
      "port": 8080
    }
  },
  "fixtures_mapping": {
    "mariadb": {
      "icat_server": {
        "<= 6.2.0": "mariadb_icat_6_basic_fixtures.sql"
      },
      "authn_db": {
        "<= 3.0.0": "mariadb_icat_authn_db_3_.sql"
      }
    }
  }
}